<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins ">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Sign In</h2>
                <form method="POST">
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="text" name="first_name">
                            </div>
                        </div>

                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">password</label>
                                <input class="input--style-4" type="text" name="last_name">
                            </div>
                        </div>
                    </div>


                    <div class="p-t-15 text-center">
                        <button class="btn btn--radius-2 btn--blue" type="submit" [routerLink]="'/home'">Login</button>
                    </div>

                </form>
                <div class="text-center " style="padding-top: 20px;">

                    <span>Not Register ?</span>
                    <a [routerLink]="'/register'">Create an account</a>

                </div>
            </div>
        </div>
    </div>
</div>