<div id="top"></div>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins ">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Pet Registration Form</h2>
                <form method="POST" #petRegistrationForm="ngForm" (ngSubmit)="submit(petRegistrationForm)">
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Pet Name</label>
                                <input class="input--style-4" type="text" name="petName" #petName="ngModel" ngModel required minlength="3">
                            </div>
                        </div>
                        <!-- <div class="row row-space"> -->
                           
                       
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Breed</label>
                                <input class="input--style-4" type="text" name="breed" #breed="ngModel" ngModel required>
                            </div>
                        </div>     
                    </div>

                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Age</label>
                                <input class="input--style-4" type="number" name="age" #age="ngModel" ngModel required>
                            </div>
                        </div>
                    
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">weight</label>
                                <input class="input--style-4" type="number" name="weight" #weight="ngModel" ngModel required>
                            </div>
                        </div>
                    </div>


        
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Color</label>
                                <input class="input--style-4" type="text" name="color" #petName="ngModel" ngModel required minlength="3">
                            </div>
                        </div>
                    
        
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Previous problems
                                </label>
                                <input class="input--style-4" type="text" name="problems" #petName="ngModel" ngModel required minlength="3">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Drug Allergies
                                </label>
                                <input class="input--style-4" type="text" name="allergies" #petName="ngModel" ngModel>
                            </div>
                        </div>
                    
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Current Diet
                                </label>
                                <input class="input--style-4" type="text" name="diet" #petName="ngModel" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Current Medication 
                                </label>
                                <input class="input--style-4" type="text" name="meds" #petName="ngModel" ngModel>
                            </div>
                        </div>

                        <div class="col-6">
                            <label class="label">Species
                            </label>
                            <div class="input-group">
                                <div style="white-space: nowrap;">
                                    <label for="true">Dog</label>
                                    <input type="radio" id="true" name="species" value="dog" ngModel>

                                </div>
                                <br>

                                <div  style="white-space: nowrap; margin-left: 40px;">
                                    <label for="false">Cat</label>
                                <input type="radio" id="false" name="species" value="cat" ngModel>
                                
                                </div>
                                
                            </div>
                        </div>
                    </div>





                    <div class="row row-space">
                        <div class="col-6">
                            <label class="label">Gender
                            </label>
                            <div class="input-group">
                                <div style="white-space: nowrap;">
                                    <label for="true">Male</label>
                                    <input type="radio" id="true" name="gender" value="male" ngModel>

                                </div>
                                <br>

                                <div  style="white-space: nowrap; margin-left: 40px;">
                                    <label for="false">Female</label>
                                <input type="radio" id="false" name="gender" value="female" ngModel>
                                
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-6">
                            <label class="label">Neutered
                            </label>
                            <div class="input-group">
                                <div style="white-space: nowrap;">
                                    <label for="true">Yes</label>
                                    <input type="radio" id="true" name="neutered" value="yes" ngModel>

                                </div>
                                <br>

                                <div  style="white-space: nowrap; margin-left: 40px;">
                                    <label for="false">No</label>
                                <input type="radio" id="false" name="neutered" value="no" ngModel>
                                
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    

                    
                    <div class="container">
                        <div class="row justify-content-md-center ">
                        
                                <button class="btn btn-primary btn-lg m-2"  type="submit" [disabled]="!petRegistrationForm.valid||savePetSuccess">Add pet</button>
                            
                                <button *ngIf="!savePetSuccess" class="btn btn-primary btn-lg m-2" [routerLink]="'/home'"  type="submit" >Cancel</button>
                            
                            </div>
                            <div class="d-flex justify-content-center m-2">
                                <p *ngIf="savePetSuccess" style="color: green; font-size: large;">pet added successfully, <a [routerLink]="'/home'"> Return to home</a></p>
                                <p *ngIf="savePetError">Something wrong happened.Please try again later</p>
                            </div>
                    </div>       
                </form>

                <!-- back button -->
            </div>
        </div>
    </div>
</div>
