
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins ">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Registration Form</h2>
                <form  (submit)="register()">
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">User Name</label>
                                <input class="input--style-4" type="text" name="name"  [(ngModel)]="credenioals.name">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email"  [(ngModel)]="credenioals.email" >
                            </div>
                        </div>     
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" type="password" name="password"  [(ngModel)]="credenioals.password">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                <input class="input--style-4" type="text" name="phone_number"  [(ngModel)]="credenioals.phone_number">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Recommendation</label>
                                <input class="input--style-4" type="text" name="recommendation" [(ngModel)]="credenioals.recommendation">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Address</label>
                                <input class="input--style-4" type="text" name="address"[(ngModel)]="credenioals.address">
                            </div>
                        </div>
                    </div>

                    <div class="p-t-15 text-center">
                        <button class="btn btn-primary btn-lg"  type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
