<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins ">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Reset Password</h2>
                <form #resetPasswordForm=ngForm (ngSubmit)="onSubmit()">
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email" placeholder="Email" [(ngModel)]="form.email" required>
                                <span class="text-danger" [hidden]="!error.email">{{error.email}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">password</label>
                                <input class="input--style-4" type="password" name="password" placeholder="Password" [(ngModel)]="form.password" required>
                                <span class="text-danger" [hidden]="!error.password">{{error.password}}</span>
                            </div>

                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Confirm password</label>
                                <input class="input--style-4" type="password" name="password_confirmation" placeholder=" Confirm Password" [(ngModel)]="form.password_confirmation" required>
                                <span class="text-danger" [hidden]="!error.password_confirmation">{{error.password_confirmation}}</span>

                            </div>

                        </div>
                    </div>

                    <div class="p-t-15 text-center">
                        <button class="btn btn--radius-2 btn--blue" type="submit" [disabled]="!resetPasswordForm.valid">Change Passwoed</button>
                    </div>
                </form>   
                </div>  
        </div>
    </div>
</div>
